.side-bar{
    display: flex;
   flex-direction: column;
    background-color: rgba(246,246,246,1);
    
    text-decoration: none;
    position: sticky;
    width: 90%;
    height: 90vh;
    align-items: flex-start;
    justify-content: center;
    padding-left: 40px;
 scroll-behavior: smooth;
    
}

.link{
   
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    line-height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.link:hover{
    color: rgb(87, 87, 226);
}